.navbar {
  margin-bottom: 2rem;
  padding: 0;
  background: #0f1228;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 8px 0;
}

.list-item {
  margin: 0;
  padding: 0;
}

.list-item-link {
  margin: 0;
  padding: 12px 0;
  text-decoration: none;
  color: #e7e9fe;
  display: flex;
  font-size: 1.1rem;
}

.list-item-icon {
  margin: auto;
  margin-right: 4px;
}

.list-item-title {
  margin: auto;
  margin-left: 4px;
}

@media only screen and (max-width: 420px) {
  .list-item-title {
    display: none;
    margin-left: 0;
    margin: auto;
  }
}
