.footer {
  font-family: "Taviraj", serif;
  margin-top: 1rem;
  padding: 1rem;
  background: #0f1228;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer p {
  margin: 0;
}

.footer-link {
  color: #e7e9fe;
  text-decoration: none;
}

@media only screen and (max-width: 420px) {
  .footer {
    padding: 0;
  }
  .footer p {
    margin: 8px auto;
  }
}
